// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap&subset=latin-ext');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}


//header

#wrapper-navbar{
	position: absolute;
	width: 100%;
	z-index: 100;
}

.home #wrapper-navbar .bg-primary{
	background-color: rgba(0,0,0,0) !important;
}

.sun-menu {
	height: 55px;
	margin: 0 20px 0 0;
	vertical-align: top;
}

.menu-text {
	display: inline-block;
}

.navbar-brand {
	display: inline-block;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

.menu-description {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

#content {
	margin-top: 90px;
}

h1.entry-title {
	margin-bottom: 25px;
}

//hero home

.hero-holder {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 2px 1px #000;
	background-repeat: no-repeat;
    background-size: cover;
}

.hero-block {
	display: inline-block; 
    width: 70vw;
    margin: auto;
    color: #fff;
}

.hero-main {
	font-size: 3.3em;
}

.hero-holder p {
	font-size: 1.4em;
	margin-top: 30px
}

.btn-sola {
	width: 260px;
	background-color: $gold;
	border-radius: 0;
	padding: 20px;
	color: #000;
	margin: 20px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-shadow: none;
}

.top-padding {
	background-color: #000;
	height: 80px;
	width: 100%;
	display: block;
}

//icon home page display

.icon-block {
	text-align: center;
	margin: 30px 0;
	padding: 0 30px;
}

.icon-block h2 {
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 1.4em;
	text-transform: uppercase;
}

.icon-block p {
	line-height: 1.3;
}

.icon-img {
	margin: auto;
    display: block;
}

//widgets 
.widget-title {
	margin-top: 20px;
}

//footer
#wrapper-footer {
	background-color: $gold;
	padding-top: 50px;
}

.footer-widgets {
	margin-top: 40px;
}